<div class="mt-4">

    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name_course">Tên khóa học</label>
            <input type="text" class="form-control" id="name_course" name="name">
        </div>
        <div class="form-group">
            <label for="discriptionID">Mô tả</label>
            <input type="text" class="form-control" id="discriptionID" name="discription">
        </div>
        <div class="form-group">
            <label for="Image_ID">Ảnh</label>
            <input type="text" class="form-control" id="Image_ID" name="image">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>