<div class="mt-4">
    <h4>Chỉnh sửa khóa học</h4>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name_course">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name_course" name="name">
        </div>
        <div class="form-group">
            <label for="discriptionID">Mô tả</label>
            <input type="text" class="form-control" id="discriptionID" value="{{course.discription}}" name="discription">
        </div>
        <div class="form-group">
            <label for="Image_ID">Ảnh</label>
            <input type="text" class="form-control" id="Image_ID"  value="{{course.image}}" name="image" >
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>